
#head {
    background-image: url('../assets/bird-head.png');
}

#middle {
    background-image: url('../assets/blue-middle.png')
}

#bottom {
    background-image: url('../assets/blue-pants.png');
}